<div class="container-fluid">
  <div class="row no-gutter">
    <!-- Image -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>

    <!-- Content -->
    <div class="col-md-6 transactionContainer">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link console" href="#">Exchange</a>
            </li>
            <li class="nav-item">
              <a class="nav-link console" href="#">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link console" href="#">About</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto" [ngSwitch]="connected">
            <li class="nav-item" *ngSwitchDefault (click)="connectWallet()">
              <a class="nav-link console" href="#">Connect wallet</a>
            </li>
            <li li class="nav-item" *ngSwitchCase="true" ngbDropdown>
              <a class="nav-link console" href="#" *ngSwitchCase="true" ngbDropdownToggle> {{ printShortAddress(account)
                }} </a>
              <div ngbDropdownMenu>
                <button ngbDropdownItem>{{ algoBalance | number : '1.2-2' }} Algos</button>
                <button ngbDropdownItem>{{ chadBalance | number : '1.2-2' }} Chads</button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="disconnectWallet()">Disconnect</button>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="login d-flex align-items-center">
        <div class="row">
          <div class="col-lg-8 mx-auto w-80">
            <div class="container-fluid containerWrapper rounded px-4 border">
              <div class="row pt-2">
                <div class="col-md-6">
                  <div class="input-group my-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text entry-box text-light console">Spend</span>
                    </div>
                    <input type="text" class="form-control entry-box text-light console" [formControl]="buyChadAlgoAmt"
                      placeholder="0.00">
                    <div class="input-group-append">
                      <span class="input-group-text entry-box text-light console">algo</span>
                    </div>
                  </div>
                  <div class="input-group w-100">
                    <div class="input-group-prepend">
                      <span class="input-group-text entry-box text-light console">Receive</span>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text entry-box text-light console">{{ buyChadAlgoAmt.value * algo2Chad }}
                      </span>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-text entry-box text-light console">chads</span>
                    </div>
                  </div>
                  <div class="row mx-auto my-1">
                    <button type="submit" class="btn buy-button btn-block text-uppercase shadow-sm mb-2 console" (click)="buyChadInitiate()">
                      Buy </button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group my-1">
                    <div class="input-group-prepend">
                      <span class="input-group-text entry-box text-light console d-flex">Spend</span>
                    </div>
                    <input type="text" class="form-control entry-box text-light console d-flex"
                      aria-label="Amount (to the nearest dollar)" placeholder="0.00">
                    <div class="input-group-append">
                      <span class="input-group-text entry-box text-light console d-flex">chads</span>
                    </div>
                  </div>
                  <div class="input-group my-1 d-flex">
                    <div class="input-group-prepend">
                      <span class="input-group-text entry-box text-light console d-flex">Receive</span>
                    </div>
                    <input type="text" class="form-control entry-box text-light form-control-plaintext console d-flex"
                      placeholder="0.00" readonly>
                    <div class="input-group-append">
                      <span class="input-group-text entry-box text-light console d-flex">algo</span>
                    </div>
                  </div>
                  <div class="row mx-auto my-1 mb-2">
                    <button type="submit" class="btn sell-button btn-block text-uppercase shadow-sm console"> Sell
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>